<div class="container" >
  <div class="row">
    <div class="col-md-4  mt-5  mx-auto" style="border:1px solid black; padding:60px 60px;" >
      <form>
          <div>
            <h1><p class="text-center"><img  src="../assets/LOGO_1.png">Return</p></h1>
          </div>

          <div class="md-form">
               <input type="text" id="form1" class="form-control">
                <label for="form1">Email</label>
          </div>

          <div class="md-form">
               <input type="text" id="form2" class="form-control">
                <label for="form2">password<span><i  class="fa fa-eye"></i></span></label>
          </div>

          <button type="submit" class="btn btn-lg btn-secondary btn-block " (click)="onclck()">
          Login</button><br><br>

          <div>
            <a href="url"><u>Forgot your password?</u></a>
          </div>
      </form>

    </div>
  </div>
</div>


