<head>
  <style>
    p{
      color:red;
    }
  </style>
</head>

<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <div class="form-group">
          <label for="name">First name</label>
          <input type="text" class="form-control"  name="first_name" placeholder="Enter your first name" #firstName="ngModel"
                 [(ngModel)]="credentials.first_name" ng-required="true" [ngClass]="{'is-invalid':f.submitted && firstName.invalid}" required/>
          <div class="invalid-feedback">
              <div>First Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Last name</label>
          <input type="text" class="form-control" name="last_name" placeholder="Enter your lastname name" #lastName="ngModel"
                 [(ngModel)]="credentials.last_name" ng-required="true" [ngClass]="{'is-invalid':f.submitted && lastName.invalid}" required/>
          <div class="invalid-feedback">
              <div>Last Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" #email="ngModel" ng-required="true"
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="credentials.email" [ngClass]="{'is-invalid':f.submitted && email.invalid}" required/>
          <div *ngIf="f.submitted && email.invalid"class="invalid-feedback">
            <div *ngIf="email.errors.required">Email Name is required</div>
            <div *ngIf="email.errors.email">Email must be a valid email Address</div>
          </div>
          <div *ngIf="email.errors &&(email.touched || email.dirty)" class="aler alert-danger">
            <div [hidden]="!email.errors?.pattern">
                Invalid pattern
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password"
                 pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}"
                 #password="ngModel" [ngClass]="{'is-invalid':f.submitted && password.invalid}"  ng-required="true" required />
          <div *ngIf="f.submitted && password.invalid"class="invalid-feedback">
            <div *ngIf="password.errors.required">Password Name is required</div>
            <!--<div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>-->
            <div *ngIf="password.errors.pattern">Password not valid.(should contain one uppercase,one lowercase,one digit,one special symbol...)</div>
          </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block " >Register!</button>
      </form>
    </div>
  </div>
</div>
